<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>EventosApp</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

	<div th:replace="@{fragments/nav} :: navbar"></div>
	<div class="container">
		<form  th:action="@{/event/saveEvent}"
			th:object="${event}" method="POST" >
			
			<div class="form-group">
				<label for="eventName">Nome do Evento</label> 
				<input type="text" class="form-control" id="eventName" 
				placeholder="Digite o nome do evento" value="${event.name}" th:field="*{name}"/>
			</div>
			
			<div class="form-group">
				<label for="eventDescription">Descrição</label>
				<textarea class="form-control" id="eventDescription" placeholder="Descreva o evento" th:field="*{description}"></textarea>
			</div>
			
			<div class="form-group">
				<label for="eventDate">Data do Evento</label> 
				<input  type="date" class="form-control" placeholder="Digite a data do evento"
					id="eventDate" value="${event.date}" th:field="*{date}" />
			</div>
			
			<div class="form-group">
				<label for="eventPrice">Preço por Ingresso do Evento</label> 
				<input type="number" class="form-control" th:field="*{price}"
					placeholder="Digite o preço por ingresso do evento" id="eventPrice"
					value="${event.price}" />
			</div>
			
			<div class="form-group">
				<label for="eventQtd">Quantidade de Ingressos do Evento</label> 
				<input type="number" class="form-control" th:field="*{qtdTicket}"
					placeholder="Digite a quantidade de ingressos do evento"
					id="eventQtd" value="${event.qtdTicket}" />
			</div>
			
			<div class="form-group">
				<label for="showHouse">Casa de Shows</label> 
				<select	class="form-control" id="showHouse" 
				th:field="*{showHouse}">
					<option th:each="showHouse : ${showHouses}" th:value="${showHouse.id}" th:text="${showHouse.name}"></option>
				</select>
			</div>
			
			<div class="form-group">
				<label for="imagem">Imagem do evento</label> 
				<input type="file" class="form-control-file" id="imagem" th:field="*{imagemProd}"/>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>
</html>